body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr 10%;
  background-color: blueviolet;
}

header {
  background-color: aqua;
}

a.navbar-brand {
  font-family: "Intro ";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}

main {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  width: 800px;
  grid-template-columns: 10% repeat(auto-fit, minmax(3, 1fr));
  grid-template-rows: repeat(2, 150px);
  gap: 1rem;
  background-color: cornflowerblue;
}

h1 {
  font-family: "Intro ";
  font-style: normal;
  font-weight: extra-bold;
  font-size: 60px;
  line-height: 120%;
  /* identical to box height, or 72px */

  /* Основной текст */

  color: #000000;
}

div > img {
  background-image: url(./Rectangle11.svg);
}

h5 {
  font-family: "Intro ";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  /* identical to box height, or 36px */

  /* Основной текст */

  color: #000000;
}

p.card-text {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
  /* or 32px */

  /* Основной текст */

  color: #000000;
}

footer {
    display: grid;
    grid-column: 1;
    grid-row: 3;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    /* identical to box height, or 32px */
    
    
    /* Основной текст */
    
    color: #000000;
    background-color: aliceblue;
}