body {
background-color: blueviolet;
}

header {
    background-color: aqua;
}

a.navbar-brand {
    font-family: 'Intro ';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}
